<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 50px">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <img src="../../../assets/examlogo.png" width="100" alt="" />
        </div>
        <h1 class="text-center">Login Here</h1>
        <form (ngSubmit)="null">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter Username" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input required [(ngModel)]="user.password" name="password" matInput placeholder="Enter Password"
              type="password" />
          </mat-form-field>



          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email Address</mat-label>
            <input required [(ngModel)]="user.email" name="email" matInput placeholder="Enter Email Address"
              type="email" />
          </mat-form-field>


          <div class="text-center">
            <button mat-raised-button color="primary" type="submit">
              Sign In ->
            </button>
            <button mat-raised-button color="accent" type="button" style="margin-left: 10px">
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
